body {
    font-family: 'Epilogue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

#mainlogo {
    max-width: 10em;
}


@media screen and (min-width: 599px) {
    h2 {
        text-align: center;
        margin: auto;
        padding-bottom: 5%;
        color: #FBAA19 !important;
        font-weight: bold;
        font-size: 4rem;
    }
}

@media screen and (max-width: 600px) {
    h2 {
        text-align: center;
        margin: auto;
        padding-bottom: 5%;
        color: #FBAA19 !important;
        font-weight: bold;
        font-size: 2rem;
    }
}

@media screen and (min-width: 599px) {
    p {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    p {
        font-size: 10px;
    }
}

nav li a {
    color: #0F3A5E;
}

nav li a :hover {
    color: #FBAA19;
}

#secondrownav {
    background: linear-gradient(to right, #0F3A5E, #0e7cb4);
}


#secondrownav ul a {
    color: white;
    font-weight: bold;
}

#secondrownav ul a:hover {
    color: #FBAA19;
}


.carousel-caption {
    size: 5%;
}


.carousel-caption h3 {
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1px 10px #000000;

}

.carousel-caption h5 {
    text-shadow: 1px 1px 10px #000000;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

#carousel img {
    width: auto;
    height: 45vw;
    max-height: 45vw;


}

.spag {
    padding: 10% 15% 15% 15%;
}

.spag h1 {
    color: #FBAA19;
    padding-bottom: 5%;
}

.prod {
    width: auto;
    max-width: 80%;
    height: auto;
    margin-bottom: 5%;
}

.cine {
    width: auto;
    max-width: 45%;
    height: auto;
    margin-bottom: 2%;
}

.spag a {
    color: #0F3A5E !important;
}

.spag a:hover {
    color: #FBAA19 !important;
}

#NProduction {
    color: #0F3A5E !important;
    float: left;
    padding: 2%;
}

#NPeople {
    color: #0F3A5E !important;
    float: left;
    padding: 2%;
}

.semplanosinfo {
    background: linear-gradient(to right, #0F3A5E, #0e7cb4);
    padding: 10% 15% 10% 15%;
    color: white;
}

.semplanosinfo h1 {
    color: #FBAA19;
    padding-bottom: 5%;
}
.semplanosinfo h3 {
    text-align: center;
    margin: auto;
    padding: 5% 15% 0 15%;
}

.semplanosinfo a {
    color: #FBAA19 !important;
}

#semplanostext {
    float: left;
}

#semplanosimg img {
    width: 55vw;
}

.criadores {
    padding: 10% 15% 10% 15%;
    color: #0e7cb4;
}
.criadores h3 {
    text-align: center;
    margin: auto;
    padding: 5% 15% 5% 15%;
}

.sobrenos {
    padding: 5%;
    color: #0e7cb4;
}

.team-grid .item {
    margin-bottom:30px;
}

.team-grid .item .box {
    text-align:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:280px;
    position:relative;
    overflow:hidden;
}

.team-grid .item .cover {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(to right, #0F3A5E, #0e7cb4);
    transition:opacity 0.15s ease-in;
    opacity:0;
    padding-top:80px;
    color:#fff;
    text-shadow:1px 1px 1px rgba(0,0,0,0.15);
}

.team-grid .item:hover .cover {
    opacity:0.5;
}

.team-grid .item .name {
    font-weight:bold;
    margin-bottom:8px;
}

.team-grid .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#bbd8fb;
    letter-spacing:2px;
    font-size:13px;
    margin-bottom:20px;
}

.team-grid .social {
    font-size:18px;
}

.team-grid .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
}

.team-grid .social a:hover {
    opacity:1;
}

.servicos {
    padding: 5% 5% 5% 5%;
    color: #0e7cb4;
}

.contactos {
    margin-bottom: 5%;
    margin-top: 5%;
    color: #0F3A5E;
}

.contactos div {
    border-bottom: 1px ridge #0e7cb4;
}

.contactos a {
    text-decoration: none;
    color: #0e7cb4;
}

#portfoliointro {
    margin-top: 5%;
    text-align: center;
    color: #FBAA19 !important;
}

#portfoliobody {
    margin: auto;
    margin-bottom: 5%;
    color: #0e7cb4;
}

#portfoliobody h5 {
    color:  #0F3A5E;
}


@media screen and (min-width: 899px) {
    .card-text {
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 768px) {
    .card-text {
        font-size: 3vw;
    }
}


.portsocial a {
    color:  #0F3A5E;
}

.portsocial a:hover{
    color: #FBAA19;
}

footer {
    background-image: linear-gradient(to right, #0F3A5E, #0e7cb4);
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
}

footer a :hover {
    color: #FBAA19;
}

.justify {
    text-align: justify;
}

.noborder {
    border: 0px !important;
}

.titulos_joao {
    text-align: center;
    margin: auto;
    padding-bottom: 10%;
    color: #FBAA19 !important;
    font-weight: bold;
    font-size: 4rem;
 } 
